<section>
  <div class="container  mt-4 mb-5">
    <div class="row">
        <div class="col-4 ">

            <h1 class="display-6 text-uppercase"><b>{{this.nombreDetall}}</b> <small class="fw-normal"> ({{this.fechaDetall}}) </small></h1>

            <img src="{{this.imgDetall}}" class="container text-center" width="300" height="300">
            <button type="button" [routerLink]="['/heroes']" class="container mt-4 btn btn-sm btn-outline-danger">Regresar</button>

        </div>

        <div class="col-8 mt-5">
            <h2>{{this.nombreDetall}} </h2>
            <hr>
            <a>{{this.bioDetall}}</a>
            <br>
            <img src="{{this.casaDetall}}" class="mt-3" width="300" height="300">
        </div>
    </div>
</div>
</section>
