<nav class="mb-5">
<div class="container mt-3">
  <h1 class="display-6"><b>Héroes</b> Marvel y DC</h1>  <hr>
    <div class="card-columns">
      <div *ngFor="let item of heroes">
        <div class="card mt-3">
          <div class="card-body">
            <img src="{{item.img}}" class="card-img-top" width="100%" height="100%">
            <h5 class="card-title">{{item.nombre}}</h5>
            <p class="card-text">{{item.bio}}</p>
            <small class="text9 text-muted ">{{item.aparicion}}</small>
            <button type="button" [routerLink]="['/heroe', this.item.id]" class="container mt-3 btn btn-sm btn-outline-primary">Ver más...</button>
          </div>
        </div>
      </div>
    </div>
</div>
<p><a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-arrow-up-square offset-11" viewBox="0 0 20 20">
  <path  fill-rule="evenodd" d="M15 2a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2zM0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm8.5 9.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"/>
</svg>
</a>
</p>
</nav>
